{{ define "main" }}
  {{ if .IsHome }}
    <div
      class="bg-center bg-cover bg-no-repeat grid min-h-screen place-content-center relative text-center text-white z-10"
      style="font-size:1.333em;background-image:url(https://images.unsplash.com/photo-1571610783729-f571bd44c646?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80)"
    >
  {{ else }}
    <div>
  {{ end }}
    <h1 class="max-w-screen-md mx-auto my-0 px-6 py-4">{{.Title}}</h1>
  </div>
  <div class="max-w-screen-md mx-auto px-6 py-4">
    {{ with .Content }}
      <div class="my-8">
        {{- . -}}
      </div>
    {{ end }}
    {{ range .Pages }}
      <article>
        <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
        <p>{{ .Summary }}</p>
      </article>
    {{ end }}
  </div>
{{ end }}