{{ define "main" }}
  {{- partial "hero" . -}}
  <div class="max-w-screen-md mx-auto px-6 pt-8 pb-12">
    {{ with .Content }}
        {{- . -}}
    {{ end }}
  </div>
  {{ range .Pages }}
    <article class="sm:flex">
      {{- if .Params.image -}}
        <div class="flex-1 mr-4">
          {{- partial "image" (dict "src" .Params.image "alt" .Title "loading" "lazy" "class" "") -}}
        </div>
      {{- end -}}
      <div class="flex-1">
        <div class="max-w-lg mr-auto p-6">
          <h2 class="sm:mt-0"><a href="{{.Permalink}}" class="font-extrabold">{{.Title}}</a></h2>
          <p>{{ .Summary }}</p>
          <a href="{{.Permalink}}" class="btn btn-primary mt-4 text-sm">View Page</a>
        </div>
      </div>
    </article>
  {{ end }}
{{ end }}
