<footer class="bg-gray-50 border-t-2 mt-14 sm:mt-20 text-gray-500 text-xs">
    <div class="text-center max-w-screen-md mx-auto px-6 pt-6 pb-8">
        <div class="sm:flex justify-between items-center">
            <div>
                <a href="/" class="inline-block" style="max-width: 14rem; margin-left: -1rem;">
                    {{- partial "logo" -}}
                </a>
            </div>
            <div class="ml-auto my-4">
                <nav>
                    <a href="#" class="text-current font-normal inline-block mb-1 ml-4">About</a>
                    <a href="#" class="text-current font-normal inline-block mb-1 ml-4">Contact Us</a>
                    <a href="#" class="text-current font-normal inline-block mb-1 ml-4">Product</a>
                    <a href="#" class="text-current font-normal inline-block mb-1 ml-4">Help</a>
                    <a href="#" class="text-current font-normal inline-block mb-1 ml-4">Typography</a>
                </nav>
            </div>
        </div>
        <div class="mt-10 text-center sm:flex items-center justify-between">
            <span>&copy; {{ dateFormat "2006" now }} {{ .Site.Title }}. All rights reserved.</span>
            <div class="mt-4">
                {{- partial "social-links" -}}
            </div>
        </div>
    </div>
</footer>

{{/*  TODO: Add site setting  */}}
{{- if .IsHome -}}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{- end -}}