<a href="#skip-nav" class="fixed bg-primary-500 focus:text-white leading-none m-2 not-focus:sr-only px-3 py-2 text-xs z-50">Skip Navigation</a>
<header class="fixed print:absolute px-4 w-full z-40 top-4 sm:top-6">
  <div class="bg-white flex items-center justify-between max-w-screen-md mx-auto rounded shadow">
    <div>
      <a href="/">
        {{- if $.Site.Params.logo -}}
          <img src="{{ $.Site.Params.logo }}" alt="{{ .Site.Title }}" />
        {{- else -}}
          <span class="block" style="width: 10rem;">
            {{ readFile "content/media/logo.svg" | safeHTML }}
          </span>
          <span class="sr-only">
            {{- $.Site.Title -}}
          </span>
        {{- end -}}
      </a>
      {{- if $.Site.Params.description -}}
        <span>{{ $.Site.Params.description }}</span>
      {{- end -}}
    </div>
    {{- partial "main-navigation" . -}}
  </div>
</header>
{{- $mb := "" -}}
{{ if .IsHome }}
{{- $mb = "-mb-16 " -}}
{{- end -}}
<div id="skip-nav" style="z-index:1;" class="{{ $mb }}bg-white h-16 sticky top-0 opacity-95"></div>