<a href="#skip-nav" class="fixed bg-primary-500 focus:text-white leading-none m-2 not-focus:sr-only px-3 py-2 text-xs z-50">Skip Navigation</a>
<header class="fixed print:absolute px-4 w-full z-40 top-4 sm:top-6">
  <div class="bg-white flex items-center justify-between max-w-screen-md mx-auto rounded shadow">
    <div>
      <a href="/" class="block" style="max-width: 12rem;">
        {{- partial "logo" (dict "class" "max-h-12") -}}
      </a>
      {{- if $.Site.Params.description -}}
        <span>{{ $.Site.Params.description }}</span>
      {{- end -}}
    </div>
    {{- partial "main-navigation" . -}}
  </div>
</header>
{{- $mb := "" -}}
{{ if .IsHome }}
{{- $mb = "-mb-16 " -}}
{{- end -}}
<div id="skip-nav" style="z-index:1;" class="{{ $mb }}bg-white h-16 sticky top-0 opacity-95"></div>