<details class="sm:hidden relative">
  <summary class="hide-marker inline-flex items-center pl-10 pr-4 py-2">
    <span class="-translate-y-1/2 absolute inline-block left-3 summary-icon top-1/2 transform" style="height: 13px; width: 18px;">
      <span class="summary-icon__line left-0 right-0 top-1/2"></span>
    </span>
    Menu
  </summary>
  <nav class="-mt-1 absolute bg-white border-2 mr-1.5 py-2 right-0 rounded-md shadow">
    {{ $currentPage := . }}
    {{ with ((site.GetPage "section" "settings").Resources.GetMatch "navigation.md") }}
      {{ range .Params.main }}
        {{ if eq .type "page" }}
          {{ with (site.GetPage .page) }}
            <a href="{{ .RelPermalink }}" class="block px-4 py-2{{ if eq $currentPage.RelPermalink .RelPermalink }} active{{ end }}">
              {{- .LinkTitle -}}
            </a>
          {{ end }}
        {{ end }}

        {{ if eq .type "custom" }}
          <a href="{{ .url }}" class="block px-4 py-2" target="{{ if .external }}_blank{{ end }}">
            {{- .linktitle -}}
            {{- if .external -}}
              <span
                class="align-baseline inline-block icon"
                aria-label="(opens in new window)"
                style="font-size: 0.8em; transform: translateY(-0.15em); margin-left: 0.25em;"
              >
                {{- partial "icons/action/open_in_new.svg" -}}
              </span>
            {{- end -}}
          </a>
        {{ end }}
      {{ end }}
    {{ end }}
  </nav>
</details>